@font-face {
  font-family: optician;
  src: url(../fonts/Optician-Sans.otf);
}

* {
    margin: 0px;
}

body {
    background: rgba(2,64,118,1);
    font-family: optician;
}

.container {
    display: grid;
    grid-template-areas: 
    "greeting greeting greeting"
    "toonGMT toonGMT toonGMT"
    "uren minuten seconden"
    "datum datum datum";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    margin: 5%;
    margin-top: 20%;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.greeting {
    grid-area: greeting;
    text-align: center;
    color: white;
    margin-bottom: 20px;
}

.greetingText {
    font-weight: bold;
    font-size: 26px;
}

.datum {
    grid-area: datum;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.uren {
    grid-area: uren;
    background-color: #97AED8;
    text-align: center;
    padding: 6%;
    color: white;
    border-radius: 5px;
}

#uren {
    font-size: 40px;
    font-weight: bold;
}

.minuten{
    grid-area: minuten;
    background-color: #97AED8;
    text-align: center;
    padding: 6%;
    color: white;
    border-radius: 5px;
}

#minuten {
    font-size: 40px;
    font-weight: bold;
}

.seconden{
    grid-area: seconden;
    background-color: #97AED8;
    text-align: center;
    padding: 6%;
    color: white;
    border-radius: 5px;
}

#seconden {
    font-size: 40px;
    font-weight: bold;
}

.toonGMT {
    grid-area: toonGMT;
    background-color: white;
    padding: 4%;
    text-align: center;
    border-radius:5px;
}

.astronaut {
    position: absolute;
    width: 80%;
    right: 60px;
    animation: 1000ms animatie infinite alternate ease-in-out;
    z-index: -1;   
}

.sleep {
    width: 100%;
    animation: 4s animatie infinite alternate ease-in-out;
}

.slaapwolk {
    position: absolute;
    width: 25%;
    margin-left: -25%;
    margin-top: 0px;
    animation: 2000ms animatie infinite alternate ease-in-out;
}

#tijd {
    padding-bottom: 10px;
    font-weight: bold;
}

#datum {
    padding: 3%;
    font-weight: bold;
}

.uren > p, .minuten > p, .seconden > p {
    font-size: 12px;
}

@keyframes animatie {
    0% { 
  	top: 10px; 
  }
  100% { 
  	top: 15px;
  }
}

/* iPad */
@media only screen and (max-width: 899px) and (min-width: 550px) {
    .container {
        display: grid;
        grid-template-areas: 
        "greeting greeting greeting"
        "toonGMT toonGMT toonGMT"
        "uren minuten seconden"
        "datum datum datum";
        grid-gap: 10px;
        margin-top: 5%;
        justify-content: center;
    }

    .greeting {
        width: 100%
    }

    .dagicon {
        width: 100%;
    }

    .sleep {
        width: 35%;
        animation: 2000ms animatie infinite alternate ease-in-out;
    }

    .slaapwolk {
        position: absolute;
        width: 5%;
        margin-left: -10%;
        margin-top: 0px;
        animation: 2000ms animatie infinite alternate ease-in-out;
    }

    #datum {
        font-size: 21px;
    }

    @keyframes animatie {
    0% { 
  	     top: 1px; 
        }
    100% { 
  	     top: 25px;
        }
    }

    .uren > p, .minuten > p, .seconden > p {
        font-size: 20px;
    }

    .astronaut {
        position: absolute;
        width: 40%;
        right: 300px;
        animation: 1000ms animatie infinite alternate ease-in-out;
        z-index: -1;   
    }
}
   
/* Small desktop */
@media only screen and (max-width: 1313px) and (min-width: 900px) {
    .container {
        display: grid;
        grid-template-areas: 
        "greeting greeting greeting"
        "toonGMT toonGMT toonGMT"
        "uren minuten seconden"
        "datum datum datum";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-top: 3%;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-evenly;
    }

    .toonGMT {
        max-width: 100%;
    }

    .sleep {
        width: 20%;
        animation: 2000ms animatie infinite alternate ease-in-out;
    }

    .slaapwolk {
        position: absolute;
        width: 5%;
        max-width: 700px;
        margin-left: -50px;
        margin-top: 0px;
        animation: 2000ms animatie infinite alternate ease-in-out;
    }

    .greetingText {
        font-size: 30px;
        margin-bottom: 5px;
    }

    .greetingP {
        font-size: 19px;
    }

    #datum {
        font-size: 23px;
        margin-top: 5px;
    }

    @keyframes animatie {
    0% { 
  	     top: 1px; 
    }
    100% { 
  	     top: 25px;
        }
    }

    .uren > p, .minuten > p, .seconden > p {
        font-size: 20px;
    }

    .astronaut {
        position: absolute;
        width: 30%;
        right: 10px;
        animation: 1000ms animatie infinite alternate ease-in-out;
        z-index: -1;   
    }
}

/* Desktop */
@media only screen and (min-width: 1314px) {
    .container {
        display: grid;
        grid-template-areas: 
        "greeting greeting greeting"
        "toonGMT toonGMT toonGMT"
        "uren minuten seconden"
        "datum datum datum";
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-top: 0%;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .toonGMT {
        padding-left: 0%;
        padding-right: 0%;
        max-width: 100%
    }

    .sleep {
        width: 20%;
    }


    .slaapwolk {
        position: absolute;
        width: 5%;
        max-width: 700px;
        margin-left: -6%;
        margin-top: 0px;
        animation: 2000ms animatie infinite alternate ease-in-out;
    }

    .greetingText {
        font-size: 80px;
        margin-bottom: 5px;
    }

    .greetingP {
        font-size: 20px;
    }

    #datum {
        font-size: 28px;
    }

    @keyframes animatie {
    0% { 
  	     top: 1px; 
    }
    100% { 
  	     top: 25px;
        }
    }

    .uren > p, .minuten > p, .seconden > p {
        font-size: 20px;
    }

    .astronaut {
        position: absolute;
        width: 20%;
        right: 50px;
        animation: 1000ms animatie infinite alternate ease-in-out;
        z-index: -1;   
    }
}